html body{
    height: 100%;
}
footer {
    flex-shrink: 0; 
}
.section-header {
  background-color: #f8f9fa;
  padding: 120px 0;
  text-align: center;
}
.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
a {
  color: rgb(64, 4, 34);
}
.section-title {
  font-size: 24px;
  margin: 20px 0;
}
.content-text {
  font-size: 16px;
  color: #363c41;
}


