/* Estilo para la imagen de fondo y el texto */
.hero-section {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    color: white;
}

/*Negro semitransparente encima foto */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con 60% de transparencia */
}


/*Estilo para el texto */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
}

/* Estilos barra de abajo */
.footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: #b3005e;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #666;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #333;
}
